<nav>
  <a routerLink="/new-book">New Book</a>
</nav>

<table>
  <tr *ngFor="let book of books">
    <td>{{ book.name }}</td>
    <td><a routerLink="/edit-book/{{ book.id }}">Edit</a></td>
    <td><a routerLink="" (click)="delete(book)">Delete</a></td>
  </tr>
</table>
